@import "partials/colors.scss";
@include foundation-everything;
@import "partials/responsive-sticky-menu";

body {
  padding: 0;
  background: $white;
}

.app-dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-dashboard-body {
  flex: 1 1 auto;
  display: flex;
}

@import "partials/sideBar";
//
@import "partials/navigation";

.app-dashboard-body-content {
  transition: all $offcanvas-transition-length $offcanvas-transition-timing;
  overflow-y: auto;
  flex: 1 1 0;
  padding: 20px ;
  background-color: $white;

  @media print, screen and (min-width: 40em){
    margin-left:16.6667% !important;
  }

}