@import "../../../node_modules/foundation-sites/scss/foundation";
@import "../../../node_modules/foundation-sites/scss/util/util";
//@import "../../../node_modules/foundation-sites/scss/util/color";

//@include add-foundation-colors;
//


$primary-color: #468966;
//$primary-color: #8FB052;
$secondary-color: #FFF0A5;
$secondary-color: #41525e;
$third-color: #FFB03B;
$fourth-color: #B64926;
$fifth-color: #8E2800;

$white: #FEFEFE;
$light: #b8c7ce;
$dark: #1e282c;
$black: black;
$sidebar-bg: #222d32;

//$success-color: $primary-color;
//$info-color: $secondary-color;
//$warning-color: $third-color;
//$danger-color: $fourth-color;
