@import "colors";

.app-dashboard-sidebar {
    background-color: $white;
    height: 100%;
    overflow-x: visible;
    overflow-y: auto;

    z-index: 1;
    transition: all $offcanvas-transition-length $offcanvas-transition-timing;

    width: 16.66667% !important;

    box-shadow: 0 0 10px rgba(10, 10, 10, 1);

    .app-dashboard-sidebar-inner {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        .menu > li > a {
            align-items: center;
        }
    }

    .menu {
        a {
            color:$light;
        }
        a:hover {
            color:$white;
            //text-shadow: 0 0 2px $black;
        }
        li:hover {
            background-color: $light;
            border-left:5px solid $secondary-color;
        }
        li[active=true]{
            border-left:5px solid $secondary-color;
            background-color: $light;
            a {
                color:$white;
            }
        }
    }

    @media print, screen and (max-width: 40em){
        width: 250px !important;
    }
}

.nav-bar-left {
    background-color:$secondary-color;
    padding-left:1em;
    //padding-bottom: 1em;

    .title > a {
        color: $white;
    }
    .title > a:hover{
        color:$white;
        //text-decoration: underline;
        text-shadow:0 0 10px $black;
    }

    @media print, screen and (max-width: 40em){
        text-align: center !important;
    }
}

